@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model WebProjeleri2022.Pages.AdminModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/profil.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
}


    <form asp-page-handler="Form" method="post">
        @if (LoginModel.isInside == true)
    {
        <div class="profil-goruntule">
            <div class="profil-bilgiler">
                <ul>
                    <li id="adli">
                        <label class="form-label kullaniciadi">
                            Merhaba @Model.userService.GetUserByNickname(@Accessor.HttpContext.Session.GetString("KullaniciAdi")).adi
                            @Model.userService.GetUserByNickname(@Accessor.HttpContext.Session.GetString("KullaniciAdi")).soyadi
                        </label>

                    </li>
                    <li>
                        <label class="form-label kullanicidt">Doğum Tarihiniz: @Model.userService.GetUserByNickname(@Accessor.HttpContext.Session.GetString("KullaniciAdi")).dogumTarihi </label>

                    </li>
                    <li>
                        <label class="form-label kullanicimail">Mail Adresiniz: @Model.userService.GetUserByNickname(@Accessor.HttpContext.Session.GetString("KullaniciAdi")).eMail</label>

                    </li>
                </ul>
            </div>
        </div>

        <div class="profil-guncelle">
            <div class="input-field">
                <label class="form-label">Adı:</label>
                <input type="text" class="form-control" asp-for="kullanici.adi">
            </div>
            <div class="input-field">
                <label class="form-label">Soyadı:</label>
                <input type="text" class="form-control" asp-for="kullanici.soyadi">
            </div>
            <div class="input-field">
                <label class="form-label">E-mail:</label>
                <input type="email" class="form-control" asp-for="kullanici.eMail">
            </div>

            <div class="input-field">
                <label class="form-label">Doğum Tarihi:</label>
                <input type="date" class="form-control" asp-for="kullanici.dogumTarihi">
            </div>

            <div class="input-field button">
                <input type="submit" class="updatebutton" value="Guncelle">
            </div>

        </div>
    }
</form>
